.mat-column-date {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 29% !important;
    width: 17.5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-objectMessage {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 29% !important;
    width: 17.5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-generalIndividuel {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 29% !important;
    width: 17.5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-etat {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 29% !important;
    width: 17.5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  
  .mat-column-dateDebut {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 29% !important;
    width: 17.5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-dateFin {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 29% !important;
    width: 17.5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  