.mat-column-ref {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21.25% !important;
  width: 21.25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-libelle {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21.25% !important;
  width: 21.25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-nbrmax {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21.25% !important;
  width: 21.25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-plafond {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21.25% !important;
  width: 21.25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21.25% !important;
  width: 21.25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
