<br>

<h4><strong>Avancement</strong></h4><mat-progress-bar style="height: 40px;" mode="determinate" value="20"></mat-progress-bar>

<br>

<mat-horizontal-stepper #stepper>
    <!-- <mat-step [stepControl]="storageStep"> -->
    <mat-step>
        <ng-template matStepLabel>Lancer la sauvegardre</ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Fichiers CSV</ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Purge</ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Ouverture réseau de ventre</ng-template>
    </mat-step>
</mat-horizontal-stepper>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Journal de traitement</mat-card-title>
      <mat-card-subtitle>Console des traitements lancés</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
          <li><strong>Etape 1 : Lancement de la suavegarde </strong></li>
          <li > - Verification des transactions journaliére</li>
          <li> - Transfet de la data</li>
      </ul>
    </mat-card-content>
    <!-- Pour action sur carte
    <mat-card-actions>
    </mat-card-actions>
    -->
  </mat-card>
