<h1 mat-dialog-title>Répartitions / Rapport</h1>
<div mat-dialog-content>
    <h3> <strong>{{course.reunion}} - {{course.courseOrder}} - {{course.heureDepart  | date : 'dd/MM/yyyy HH:mm' }}
        </strong>
    </h3>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-11">
                <h1>Etat Répartition "Produit"</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Date : <small>{{course.heureDepart  | date : 'dd/MM/yyyy HH:mm' }}</small></div>
            <div class="col-md-4">Nombre de Partant : 14</div>
            <div class="col-md-4">Arrivée : <small>{{course.arrive}}</small></div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <table style="border-collapse:collapse;border-color:#ccc;border-spacing:0" class="tg">
                    <tr>
                        <th style="background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:middle;word-break:normal"
                            colspan="2" rowspan="2"><span style="font-weight:bold;font-style:italic">REPARTITION
                                ENJEUX</span><br>
                        </th>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">RECETTE GLOBAL</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            6319452.0000</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">REMBOURSEMENT</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -------------------</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">RECETTE TD TC</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            6319452.0000</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">DROIT DE TIMBRE 0.25%</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            15759.2319</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">RECETTE TTC</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            6303692.7681</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">TVA 20%</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:middle;word-break:normal">
                            1050615.463</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">RECETTE HT</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            5253077.3068</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">COMMISSION 2%</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            105061.5461</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">RESET</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            5148015.7607</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">PRELEVEMENT 14.01%</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            725870.2222</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">RESTE A REPARTIR</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            4422145.5385</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <table style="border-collapse:collapse;border-color:#ccc;border-spacing:0" class="tg">
                    <tr>
                        <th
                            style="background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:middle;word-break:normal">
                            <span style="font-weight:bold;font-style:normal">RAR T-G-R =</span><span
                                style="font-weight:400;font-style:normal"> </span><br></th>
                        <th
                            style="background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold;font-style:normal">4 422 145,5385</span><br></th>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold;font-style:normal">RAR SOREC =</span><br></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold;font-style:normal">4 422 143,9677</span><br></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <h2 style="color: red; padding-left: 12px;"> Rapports </h2>
            <br>
            <div class="row">
                <table style="border-collapse:collapse;border-color:#ccc;border-spacing:0" class="tg">
                    <tr>
                        <th style="background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:middle;word-break:normal"
                            rowspan="2"><span style="font-weight:bold;font-style:italic">DESIGNATION</span><br></th>
                        <th style="background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal"
                            colspan="2"><span style="font-weight:bold">RAPPORT POUR 1 DH</span></th>
                        <th style="background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal"
                            colspan="2"><span style="font-weight:bold">RAPPORT NET</span></th>
                        <th style="background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal"
                            colspan="2"><span style="font-weight:bold">RAPPORT POUR 12 DH</span></th>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">NOMBER</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">MONTANT</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">DRP</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">MONTANT</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">NOMBRE</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">MONTANT</span></td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">ORDRE</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            ---------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -----------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            ---------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            --------------</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">DESORDRE</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            372</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            5349.30</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            267.40</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            5081.90</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            31</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            60982.80</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">B4</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            2940</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            300.80</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            9</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            291.80</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            245</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            3501.60</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">B4 1NP</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            ---------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -----------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            ---------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            ---------------</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">B3</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            18360</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            84.30</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -----------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            84.30</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            1530</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            1011.60</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">B3 1NP</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:middle;word-break:normal">
                            -------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            --------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -----------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            --------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            --------------</td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            <span style="font-weight:bold">B3 2NP</span></td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            ---------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -----------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            --------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            -------------</td>
                        <td
                            style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;text-align:left;vertical-align:top;word-break:normal">
                            --------------</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>