.right-position {
  position: absolute;
  right: 0;
}

.mat-column-pdv {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21.25% !important;
  width: 21.25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center !important;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-position {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21.25% !important;
  width: 21.25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center !important;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-ip {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21.25% !important;
  width: 21.25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center !important;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-autoPaiement {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21.25% !important;
  width: 21.25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center !important;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-autoCreation {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21.25% !important;
  width: 21.25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center !important;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 21.25% !important;
  width: 21.25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center !important;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
