.mat-column-code {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 41% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-libelle {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 41% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 41% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  