<div class="button-page">
    <div class="row">
        <div class="col-sm-12">
            <app-card [title]="'Critere de recherche tickets'">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="sub-title">Recherche</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Réunion/Course</mat-label>
                                    <mat-select>
                                        <mat-option value="R1C1">R1C1</mat-option>
                                        <mat-option value="R1C2">R1C2</mat-option>
                                        <mat-option value="R1C3">R1C3</mat-option>
                                        <mat-option value="R1C4">R1C4</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Agence</mat-label>
                                    <mat-select>
                                        <mat-option value="Rabat">Rabat</mat-option>
                                        <mat-option value="Meknes">Meknes</mat-option>
                                        <mat-option value="Fes">Fes</mat-option>
                                        <mat-option value="Oujda">Oujda</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>PDV</mat-label>
                                    <mat-select>
                                        <mat-option value="PDV1">PDV1</mat-option>
                                        <mat-option value="PDV2">PDV2</mat-option>
                                        <mat-option value="PDV3">PDV3</mat-option>
                                        <mat-option value="PDV4">PDV4</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Produit</mat-label>
                                    <mat-select>
                                        <mat-option value="Simple Place">Simple Place</mat-option>
                                        <mat-option value="Simple Gagnant">Simple Gagnant</mat-option>
                                        <mat-option value="Jumle Place">Jumle Place</mat-option>
                                        <mat-option value="Jumle Gagnant">Jumle Gagnant</mat-option>
                                        <mat-option value="Trio">Trio</mat-option>
                                        <mat-option value="Tirce">Tirce</mat-option>
                                        <mat-option value="Quarté">Quarté</mat-option>
                                        <mat-option value="Quarté +">Quarté +</mat-option>
                                        <mat-option value="Quanté">Quanté</mat-option>
                                        <mat-option value="Quanté+">Quanté+</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Seuil ticket</mat-label>
                                    <mat-select>
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="2">2</mat-option>
                                        <mat-option value="3">3</mat-option>
                                        <mat-option value="4">4</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Seuil Formulation</mat-label>
                                    <mat-select>
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="2">2</mat-option>
                                        <mat-option value="3">3</mat-option>
                                        <mat-option value="4">4</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Statut</mat-label>
                                    <mat-select>
                                        <mat-option value="En Cours">En Cours</mat-option>
                                        <mat-option value="Prête">Prête</mat-option>
                                        <mat-option value="Validée">Validée</mat-option>
                                        <mat-option value="Active">Active</mat-option>
                                        <mat-option value="Payée">Payée</mat-option>
                                        <mat-option value="Remboursée">Remboursée</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Numéro Ticket">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Emission de : HH:mm:SS">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Emission à : HH:mm:SS">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <button mat-raised-button color="primary" class="mat-button-float" (click)="rechercheTicket()">
                                    Recherche
                                    <mat-icon>search</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
            </app-card>
        </div>
    </div>
</div>

<div class="button-page" *ngIf="ticketList">
    <div class="row">
        <div class="col-sm-12">
            <app-card [title]="'Visualisation Tickets'">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="agence">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Agence </th>
                            <td mat-cell *matCellDef="let row"> {{row.agence}} </td>
                        </ng-container>

                        <ng-container matColumnDef="pdv">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> PDV </th>
                            <td mat-cell *matCellDef="let row"> {{row.pdv}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nbrticket">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Ticket+Form </th>
                            <td mat-cell *matCellDef="let row"> {{row.nbrTicket}} </td>
                        </ng-container>

                        <ng-container matColumnDef="heure">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Heure </th>
                            <td mat-cell *matCellDef="let row"> {{row.heure}} </td>
                        </ng-container>

                        <ng-container matColumnDef="reunioncourseproduit">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Réunion/Course/Produit </th>
                            <td mat-cell *matCellDef="let row"> {{row.reunoinCourseProduit }} </td>
                        </ng-container>

                        <ng-container matColumnDef="statut">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
                            <td mat-cell *matCellDef="let row"> {{row.statut}} </td>
                        </ng-container>

                        <ng-container matColumnDef="enjeu">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Enjeu </th>
                            <td mat-cell *matCellDef="let row" > <strong>{{row.enjeux}}</strong>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-mini-fab color="green">
                                    <mat-icon color="warn">power_settings_new</mat-icon>
                                </button>
                                <button mat-mini-fab color="green">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
                <br><br>
            </app-card>
        </div>
    </div>
</div>
