<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Création Message Ticket</mat-card-title>
        <mat-card-subtitle>creation Message Sub-Title</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="button-page">
            <div class="row">
                <div class="col-sm-12">
                    <app-card [title]="''">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="sub-title">Saisie</div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="debutperiod" placeholder="Date"
                                            color="primary">
                                        <mat-datepicker-toggle matSuffix [for]="debutperiod" color="primary">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #debutperiod color="primary"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Objet du message"
                                            style="width: 100%"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-radio-button color="primary">Général</mat-radio-button>&nbsp;
                                    <mat-radio-button color="primary">Individuel</mat-radio-button>
                                </div>
                                <div class="row">
                                    <mat-form-field>
                                        <mat-label>PDV</mat-label>
                                        <mat-select>
                                            <mat-option value="PDV1">PDV1</mat-option>
                                            <mat-option value="PDV2">PDV2</mat-option>
                                            <mat-option value="PDV3">PDV3</mat-option>
                                            <mat-option value="PDV4">PDV4</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="durée d'affichage (seconde)">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="bottom-right">
                                    <button mat-raised-button color="primary" (click)="ValidateAction()">
                                        Créer<mat-icon>add_circle</mat-icon>
                                    </button>&nbsp;
                                    <button mat-raised-button color="warn" (click)="onNoClick()">
                                        Annuler<mat-icon>cancel</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br><br><br>
                    </app-card>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>